/* NavBar.css */
.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.fade-out {
  opacity: 0;
  transform: translateX(-100%);
  pointer-events: none; /* Prevent interaction when hidden */
}

ul {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
